@charset "UTF-8";
:root {
  --header-height: 60px;
  --ff-1: 'Open Sans', sans-serif;
  --ff-2: 'Oswald', sans-serif;
  --ff-3: 'Roboto', sans-serif;
  --ff-4: 'Rubik', sans-serif;
}

/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/rubik-v19-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/rubik-v19-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/oswald-v47-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/oswald-v47-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v28-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v28-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/open-sans-v28-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v28-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v28-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* базовые стили  */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #856E7E;
}

img {
  height: auto;
  max-width: 100%;
}

a,
button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.main {
  overflow: hidden;
}

.button {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
  border: none;
  border-radius: 6px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.button__text {
  color: #ffffff;
  background-color: #4680FE;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 19px 11px 20px 24px;
  padding-right: 76px;
  -webkit-box-shadow: 0 -4px #00000029 inset;
          box-shadow: 0 -4px #00000029 inset;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button__icon {
  background: #A6BF2A;
  position: absolute;
  right: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 56px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 -4px #00000029 inset;
          box-shadow: 0 -4px #00000029 inset;
  border-radius: 0px 6px 6px 0px;
}

.button:hover .button__text, .button:focus .button__text {
  background-color: #00B2D2;
}

.button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.button:active .button__text {
  -webkit-box-shadow: 0 0 transparent;
          box-shadow: 0 0 transparent;
  background-color: #4680FE;
}

.button:active .button__icon {
  -webkit-box-shadow: 0 0 transparent;
          box-shadow: 0 0 transparent;
}

.button--simple {
  background: #00B2D2;
  border-radius: 6px;
  color: #ffffff;
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 16px 17px;
  -webkit-box-shadow: 0 -4px #00000029 inset;
          box-shadow: 0 -4px #00000029 inset;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button--simple:active {
  background-color: #A6BF2A;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 425px) {
  .button__text {
    padding: 16px 17px 14px 17px;
  }
  .button__icon {
    width: 47px;
  }
  .button--simple {
    padding: 15px 16px 14px;
  }
  .button__text {
    text-align: initial !important;
  }
}

.custom-arrow {
  position: relative;
  z-index: 12;
  overflow: visible;
  margin-bottom: 3px;
}

.custom-arrow__tail {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  stroke: #ffffff;
}

.button:hover .custom-arrow__tail,
button:hover .custom-arrow__tail {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section {
  padding: 50px 0 60px;
}

.section__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 102px) {
  .section {
    padding: 55px 0 40px;
  }
  .section__flex {
    gap: 36px;
  }
}

.section__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.section__left {
  max-width: 65%;
}

.section__slider-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.section__pagination {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: right;
  color: #1C213F;
  position: initial;
  margin-right: 8px;
}

.section-top__btns-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.swiper-button-prev,
.swiper-button-next {
  position: initial;
  border: none;
  background: #A6BF2A;
  width: 56px;
  height: 56px;
  -webkit-box-shadow: 0 -4px #00000029 inset;
          box-shadow: 0 -4px #00000029 inset;
  border-radius: 6px;
  margin: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0 0 transparent;
          box-shadow: 0 0 transparent;
}

.swiper-button-prev:hover,
.swiper-button-prev *:focus,
.swiper-button-next:hover,
.swiper-button-next *:focus {
  background-color: #00B2D2;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev .custom-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section__header {
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  padding-bottom: 42px;
}

.section__title {
  margin: 0;
  font-family: var(--ff-2);
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 133%;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.section__text {
  margin: 0;
  color: #616374;
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
}

@media (max-width: 1024px) {
  .section__title {
    font-size: 40px;
  }
  .section__header {
    padding-bottom: 41px !important;
  }
}

@media (max-width: 650px) {
  .section__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__left {
    width: 100%;
    max-width: 100%;
  }
  .section__slider-nav {
    width: 100%;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .swiper-button-prev {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .section__title {
    font-size: 32px;
  }
}

@media (max-width: 425px) {
  .section__flex {
    gap: 20px;
  }
  .section__title {
    margin-bottom: 8px;
  }
}

.title {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 140%;
  color: #1C213F;
  text-transform: uppercase;
}

.title--decorate {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding-left: 22px;
}

.title--decorate::after {
  display: block;
  content: "";
  height: 55%;
  width: 6px;
  background-color: #A6BF2A;
  position: absolute;
  left: 0;
}

@media (max-width: 600px) {
  .title {
    font-size: 32px;
  }
  .title--decorate::after {
    height: 65%;
  }
}

.logo {
  width: 131px;
  height: 48px;
}

.header.sticky .logo {
  width: 108px;
  height: 50px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 550px) {
  .buttons-list {
    max-width: 100%;
    width: 100%;
  }
  .buttons-list .button {
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .buttons-list .button .button__text {
    width: 100%;
    text-align: center;
  }
}

.always-ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 64px;
  border-bottom: 1px solid #DDDEE2;
}

.always-ready__title {
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #1C213F;
  margin: 0;
}

@media (max-width: 1024px) {
  .always-ready__title {
    max-width: 350px;
    text-align: right;
  }
}

@media (max-width: 768px) {
  .always-ready__title {
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .always-ready__title {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .always-ready__title {
    max-width: 350px;
    text-align: initial;
  }
}

.portfolio-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 16px 25px;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  max-width: 416px;
  text-decoration: none;
  margin: 10px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 11;
  position: relative;
}

.portfolio-card__photo {
  position: relative;
  margin-bottom: 25px;
  border-radius: 16px 16px 16px 0px;
  overflow: hidden;
}

.portfolio-card__photo img {
  display: block;
  width: 100%;
}

.portfolio-card__label {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px 16px;
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #00B2D2;
  border-radius: 0px 6px 0px 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio-card__title {
  margin: 0;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #1C213F;
  font-family: var(--ff-2);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
}

.portfolio-card__title::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #DDDEE2;
  width: 80px;
}

.portfolio-card__desc {
  margin: 0;
}

.portfolio-card:hover .portfolio-card__label,
.portfolio-card:focus .portfolio-card__label {
  background-color: #4680FE;
}

@media (max-width: 600px) {
  .portfolio-card {
    margin: 0 auto;
  }
}

.dude {
  position: absolute;
  bottom: 0;
  width: 476px;
  right: 22%;
  z-index: 5;
  pointer-events: none;
}

@media (max-width: 1450px) {
  .dude {
    right: 0;
  }
}

@media (max-width: 1150px) {
  .dude {
    right: -5%;
  }
}

@media (max-width: 950px) {
  .dude {
    right: -17%;
  }
}

@media (max-width: 850px) {
  .dude {
    right: -23%;
  }
}

@media (max-width: 700px) {
  .dude {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.wrapper {
  max-width: 1376px;
  margin: 0 auto;
  padding: 0 32px;
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 1024px;
    padding: 0 48px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media (max-width: 360px) {
  .wrapper {
    max-width: 360px;
    padding: 0 16px;
  }
}

.whatsapp {
  width: 24px;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.whatsapp img {
  display: block;
}

.whatsapp:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.whatsapp:hover img {
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.telephone {
  text-decoration: none;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  text-align: right;
  color: #FFFFFF;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-nav__link {
  text-decoration: none;
  color: #ffffff;
  padding: 38px 16px 40px;
  font-weight: 400;
  display: block;
  position: relative;
  font-size: 15px;
  line-height: 120%;
  font-family: var(--ff-4);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-nav__link.active {
  background: #A6BF2A !important;
  color: #ffffff;
  border: none;
}

.main-nav__link.active svg path {
  stroke: #ffffff;
}

.main-nav__link:hover {
  background: #00B2D2;
  color: #ffffff;
  outline: none;
}

.main-nav__link:hover svg path {
  stroke: #ffffff;
}

.main-nav__link svg {
  display: none;
}

@media (max-width: 1150px) {
  .main-nav__link svg {
    display: block;
  }
  .main-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-nav li {
    width: 100%;
    max-width: 100%;
  }
  .main-nav__link {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    line-height: 320%;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #DDDEE2;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav__link::after {
    content: "";
    display: block;
    width: calc(100% + 48px + 48px);
    height: calc(100% + 2px);
    background-color: inherit;
    position: absolute;
    left: -48px;
    top: -1px;
    z-index: 0;
  }
  .main-nav__link span {
    z-index: 10;
    position: relative;
  }
  .main-nav__link svg {
    z-index: 10;
    position: relative;
  }
  li:first-child .main-nav__link {
    border-top: 1px solid #DDDEE2;
  }
}

.button-menu {
  position: relative;
  padding: 18px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: transparent;
  border: none;
  display: none;
}

.button-menu span,
.button-menu span::after,
.button-menu span::before {
  position: absolute;
  width: 48px;
  height: 2px;
  background-color: #ffffff;
}

.button-menu span::after,
.button-menu span::before {
  content: "";
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-menu span::before {
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
}

.button-menu span::after {
  -webkit-transform: translateY(11px);
          transform: translateY(11px);
}

.button-menu.active span {
  height: 0;
}

.button-menu.active span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button-menu.active span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1150px) {
  .button-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 600px) {
  .button-menu span,
  .button-menu span::after,
  .button-menu span::before {
    width: 32px;
  }
}

.benefits {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.benefits ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__item-flex {
  max-width: calc(100% / 3);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding: 40px 32px 40px;
}

.benefits__item-flex:first-child {
  padding-left: 0;
}

.benefits__item-flex:last-child {
  border-right: none;
}

.benefits__item-flex svg {
  max-width: 56px;
}

.benefits__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
  max-width: calc(100% - 56px - 32px);
}

@media (max-width: 1024px) {
  .benefits__item-flex {
    gap: 16px;
    padding: 38px 24px 40px;
  }
  .benefits__text {
    font-size: 16px;
    max-width: calc(100% - 56px - 16px);
  }
}

@media (max-width: 710px) {
  .benefits__text {
    font-size: 14px;
  }
  .benefits__item-flex {
    gap: 10px;
    padding: 20px 14px;
  }
}

@media (max-width: 600px) {
  .benefits__text {
    font-size: 16px;
    color: #1C213F;
  }
  .benefits__item-flex {
    max-width: 100%;
    gap: 24px;
    border-top: 1px solid #DDDEE2;
  }
  .benefits__item-flex:last-child {
    border-bottom: 1px solid #DDDEE2;
  }
  .benefits__item-flex svg path {
    stroke: #4680FE;
  }
  .benefits__item-flex:first-child {
    padding-left: 14px;
  }
}

@media (max-width: 425px) {
  .benefits__item-flex {
    padding: 30px 24px 21px;
  }
}

.custom-form {
  padding-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
}

.custom-form textarea {
  resize: none !important;
  /* Запрещаем изменять размер */
}

.custom-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.custom-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  max-width: calc(50% - 16px);
  width: 100%;
}

.custom-form__label {
  color: #4B4E66;
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.8;
}

.custom-form__input {
  background: #FFFFFF;
  border-radius: 6px;
  color: #8E909F;
  padding: 13px 23px 17px;
  border: 1px solid #B1AFB6;
  outline: none;
  width: 100%;
  max-width: 100%;
}

.custom-form__input:hover, .custom-form__input:focus, .custom-form__input:active {
  border-color: #1C213F;
  color: #1C213F;
}

.custom-form__label--accept {
  margin: 0;
  position: relative;
  padding-left: 48px;
  width: calc(50% - 16px);
  pointer-events: initial;
}

.custom-form__label--accept input[type=checkbox] + .custom-form__politic::before {
  content: "";
  background-image: url(../img/icons/checkbox-off.svg);
  position: absolute;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}

.custom-form__label--accept input[type=checkbox]:checked + .custom-form__politic::before {
  background-image: url(../img/icons/checkbox-on.svg);
}

@media (max-width: 650px) {
  .custom-form {
    padding-top: 22px;
  }
  .custom-form__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 21px;
  }
  .custom-form__item {
    max-width: 100%;
  }
  .custom-form__label--accept {
    width: 100%;
  }
  .custom-form__submit-button {
    width: 100%;
    max-width: 100%;
    text-align: left;
  }
  .custom-form__submit-button .button__text {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .custom-form__input {
    padding: 10px 23px 12px;
    font-size: 18px;
  }
  .custom-form__wrapper,
  .custom-form {
    gap: 12px;
  }
  .custom-form__wrapper--mod {
    margin-top: 14px !important;
    gap: 24px;
  }
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.accordion-item {
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  color: #1C213F;
  overflow: hidden;
}

.accordion__btn {
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 16px;
  padding: 25px 36px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.accordion-title {
  margin: 0;
  font-family: var(--ff-2);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #1C213F;
}

.accordion__content {
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777A8C;
  margin: 0 auto;
  height: 0;
  overflow: hidden;
  padding: 0 112px;
  -webkit-transition: max-height 3s;
  transition: max-height 3s;
}

.accordion__content p {
  margin-top: 0;
}

.button-plus {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  z-index: 2;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-plus::before {
  display: block;
  position: absolute;
  content: "";
  top: initial;
  -webkit-transition: .3s;
  transition: .3s;
  width: 40px;
  height: 4px;
  background-color: #A6BF2A;
}

.button-plus::after {
  display: block;
  position: absolute;
  content: "";
  top: initial;
  -webkit-transition: .3s;
  transition: .3s;
  width: 40px;
  height: 4px;
  background-color: #A6BF2A;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 1024px) {
  .accordion__btn {
    padding: 23px 30px;
  }
  .accordion__content {
    padding: 0 84px;
  }
  .button-plus::before,
  .button-plus::after {
    width: 32px;
  }
}

@media (max-width: 768px) {
  .accordion__content {
    padding: 0 64px;
  }
}

@media (max-width: 425px) {
  .accordion__btn {
    padding: 20px 30px;
  }
  .accordion-title {
    font-size: 18px;
  }
  .accordion__content {
    padding: 0 24px;
  }
  .button-plus::after, .button-plus::before {
    width: 32px;
  }
}

@media (max-width: 345px) {
  .accordion-title {
    font-size: 16px;
  }
}

.accordion-item.active .accordion__content {
  padding-top: 22px;
  padding-bottom: 22px;
  height: auto;
  -webkit-transition: max-height 1.5s;
  transition: max-height 1.5s;
}

.accordion-item.active .button-plus::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.accordion-item.active .accordion__btn::after {
  content: "";
  display: block;
  width: calc(100% - 64px);
  height: 1px;
  margin: 0 auto;
  background-color: #DDDEE2;
  position: absolute;
  bottom: 0;
}

.accordion-item.active .accordion__btn:hover {
  background-color: #EDF2D4;
}

.accordion-item.active .accordion__btn:hover::after {
  opacity: 0;
  height: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  max-width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.header__logo {
  max-width: 131px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
}

.header__logo img {
  display: block;
}

.header__navigation {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  -ms-flex-preferred-size: 760px;
      flex-basis: 760px;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.header__contacts {
  max-width: 210px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1350px) {
  .header__flex {
    gap: 16px;
  }
}

@media (max-width: 1150px) {
  .header__navigation {
    display: none;
  }
  .header__flex {
    padding: 24px 0 23px;
  }
  .header__contacts {
    max-width: 245px;
    position: relative;
    padding-right: 32px;
  }
  .header__contacts::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #DDDEE2;
  }
  .header__contacts .telephone {
    line-height: 220%;
  }
}

@media (max-width: 1024px) {
  .header__flex {
    padding: 21px 0;
    gap: 11px 37px;
  }
}

@media (max-width: 768px) {
  .header__flex {
    gap: 11px 24px;
  }
  .header__contacts {
    padding-right: 24px;
  }
}

@media (max-width: 600px) {
  .header {
    background-color: #fff;
  }
  .header .whatsapp img {
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  }
  .header .logo-text {
    fill: #000;
  }
  .header .button-menu span,
  .header .button-menu span::after,
  .header .button-menu span::before {
    background-color: #000000;
  }
  .header .telephone {
    color: #000000;
  }
  .header .menu-show .header .whatsapp img {
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  }
  .header .main-nav__link {
    color: #000000;
  }
}

@media (max-width: 510px) {
  .header .telephone {
    display: none;
  }
  .header__contacts {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0;
  }
}

.header--sticky {
  background-color: #fff;
  border-radius: 0px 0px 24px 24px;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
}

.header--sticky .header__flex {
  border: none;
}

.header--sticky .logo-text {
  fill: #000;
}

.header--sticky .button-menu span,
.header--sticky .button-menu span::after,
.header--sticky .button-menu span::before {
  background-color: #000000;
}

.header--sticky .telephone {
  color: #000000;
}

.header--sticky .menu-show .header .whatsapp img {
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.header--sticky .main-nav__link {
  color: #000000;
  padding: 28px 16px;
}

.header--sticky .main-nav__link.active, .header--sticky .main-nav__link:hover, .header--sticky .main-nav__link:focus, .header--sticky .main-nav__link:active {
  color: #ffffff;
}

@media (max-width: 1024px) {
  .header--sticky .header__flex {
    padding: 10px 0;
  }
}

@media (max-width: 600px) {
  .header--sticky .header__logo {
    max-width: 108px;
  }
}

@media (max-width: 425px) {
  .header__flex {
    padding: 15px 0;
  }
  .header__contacts {
    padding: 7px 17px;
  }
  .header__contacts::after {
    right: -8px;
  }
}

.hero {
  margin-top: auto;
  background-color: #887D7A;
  background-image: url(../img/bg/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  z-index: 0;
  height: 100vh;
  min-height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  width: 100%;
}

.hero .wrapper {
  position: relative;
  z-index: 11;
  margin-top: auto;
}

.hero__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
  max-width: 510px;
  margin-bottom: 120px;
}

.hero__title {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 133%;
  color: #FFFFFF;
  text-transform: uppercase;
}

.hero__image {
  display: none;
}

@media (max-width: 1024px) {
  .hero {
    background-image: url(../img/bg/hero-1024.jpg);
  }
  .hero__title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .hero {
    background-image: url(../img/bg/hero-768.jpg);
    max-height: 768px;
  }
  .hero__flex {
    gap: 32px;
  }
  .benefits__item-flex {
    padding: 30px 24px 20px;
  }
}

@media (max-width: 600px) {
  .hero {
    background-image: none;
    background-color: #ffffff;
    color: #000000;
    height: initial;
    padding-top: var(--header-height);
  }
  .hero .button {
    max-width: 100%;
  }
  .hero .button__text {
    width: 100%;
    font-size: 12px;
    padding: 16px 0 16px 16px;
  }
  .hero__image {
    display: block;
    width: 100%;
    margin-bottom: 22px;
  }
  .hero__title {
    color: #000000;
    font-size: 32px;
  }
  .hero__flex {
    margin: 0;
    margin-bottom: 32px;
    width: 100%;
    max-width: 100%;
    gap: 18px;
  }
  .hero__flex {
    margin-bottom: 32px;
  }
  .hero .button__icon {
    width: 42px;
  }
}

@media (max-width: 425px) {
  .hero__flex {
    gap: 12px;
    margin-bottom: 30px;
  }
}

.when-repairs {
  padding-bottom: 65px;
}

.when-repairs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.when-repairs__list li {
  width: calc(25% - 32px);
}

.when-repairs__img {
  position: relative;
  margin-bottom: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.when-repairs__img img {
  display: block;
  width: 100%;
  border-radius: 24px 24px 24px 6px;
}

.when-repairs__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 11;
  position: relative;
}

.when-repairs__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #A6BF2A;
  border-radius: 0px 6px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 64px;
  height: 64px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.when-repairs__name {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #1C213F;
  margin-bottom: 10px;
}

.when-repairs__text {
  margin: 0;
}

.when-repairs__img:hover .when-repairs__icon {
  background-color: #00B2D2;
}

@media (max-width: 1024px) {
  .when-repairs {
    padding-bottom: 53px;
  }
  .when-repairs__list {
    gap: 32px;
  }
  .when-repairs__list li {
    width: calc(50% - 16px);
  }
}

@media (max-width: 600px) {
  .when-repairs__list li {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .when-repairs {
    padding-top: 32px;
  }
}

.our-services__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-services__item {
  width: calc(25% - 24px);
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  padding-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.our-services__top {
  padding: 16px;
}

.our-services__img {
  position: relative;
  margin-bottom: 16px;
}

.our-services img {
  display: block;
  width: 100%;
  border-radius: 16px 16px 16px 0px;
}

.our-services__name {
  font-size: 20px;
  line-height: 140%;
  margin: 0;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 6px;
}

.our-services__price {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #1C213F;
  margin-bottom: 6px;
  display: block;
}

.our-services__button {
  display: block;
  background: transparent;
  padding: 19px 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #4680FE;
  text-decoration: none;
  border-top: 1px solid #DDDEE2;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 0 16px;
}

.our-services__item:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  z-index: 11;
  position: relative;
}

.our-services__item:hover .our-services__button {
  background: #4680FE;
  color: #ffffff;
  border-color: transparent;
  margin: 0;
}

@media (max-width: 1024px) {
  .our-services__list li {
    width: calc(33% - 20px);
  }
  .our-services__img {
    margin-bottom: 19px;
  }
}

@media (max-width: 700px) {
  .our-services__list li {
    width: calc(50% - 16px);
  }
}

@media (max-width: 600px) {
  .our-services__list li {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .our-services {
    padding-top: 84px;
  }
  .our-services__img {
    margin-bottom: 10px;
  }
  .our-services__price {
    margin-bottom: 3px;
  }
  .our-services__list {
    gap: 8px;
  }
}

.choose-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  margin-bottom: 3px;
}

.choose-us__item {
  width: calc(25% - 24px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choose-us__icon {
  background: #A6BF2A;
  border-radius: 24px;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 17px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.choose-us__icon svg {
  max-width: 50px;
}

.choose-us__title {
  display: block;
  margin: 0;
  font-family: var(--ff-2);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #1C213F;
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 14px;
}

.choose-us__title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #DDDEE2;
  width: 80px;
}

.choose-us__text {
  margin: 0;
  color: #777A8C;
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: auto;
}

.choose-us__item:hover .choose-us__icon {
  background: #00B2D2;
}

@media (max-width: 1024px) {
  .choose-us__item {
    width: calc(50% - 16px);
  }
}

@media (max-width: 550px) {
  .choose-us__item {
    width: 100%;
  }
}

.our-works {
  padding: 0;
}

.our-works .swiper {
  padding: 20px 0;
}

@media (max-width: 425px) {
  .section__top {
    margin-bottom: 8px;
  }
}

.reviews .section__top {
  margin-bottom: 38px;
}

.reviews__swiper {
  margin-bottom: 40px;
}

.reviews__item {
  max-width: 640px;
  margin: 0;
}

.reviews__photo {
  display: block;
  margin-bottom: 17px;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  overflow: hidden;
}

.reviews__name {
  margin: 0;
  font-family: var(--ff-2);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #1C213F;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
}

.reviews__name::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #DDDEE2;
  width: 80px;
}

.reviews__text {
  margin: 0;
  color: #777A8C;
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .reviews__item {
    max-width: 448px;
  }
}

@media (max-width: 425px) {
  .reviews .section__top {
    margin-bottom: 21px;
  }
  .reviews__name {
    padding-bottom: 20px;
  }
  .reviews__swiper {
    margin-bottom: 23px;
  }
}

.calculate-free {
  background-image: url(../img/calculate-free/1/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 66px 0 80px;
  z-index: 0;
  position: relative;
}

.calculate-free .wrapper {
  position: relative;
  z-index: 33;
}

.calculate-free .custom-form__wrapper--mod {
  margin-top: 6px;
}

.calculate-free__wrapper {
  max-width: 640px;
}

.calculate-free__top-image {
  display: none;
}

.calculate-free--two {
  padding: 66px 0 0;
  background-image: url(../img/calculate-free/2/bg.jpg);
}

.calculate-free--two .section__text {
  color: inherit;
  opacity: 0.8;
}

.calculate-free--two .section__header {
  padding-bottom: 45px;
  margin-bottom: 36px;
}

.calculate-free--two .custom-form {
  margin-bottom: 77px;
}

.calculate-free--two .custom-form__item {
  max-width: 100%;
}

.calculate-free--three {
  padding: 90px 0 86px;
  background-image: url(../img/calculate-free/3/bg.jpg);
  background-color: transparent;
  margin-top: -52px;
}

.calculate-free--three .dude {
  width: 584px;
  right: 10%;
}

.calculate-free--four {
  background-image: url(../img/calculate-free/4/bg.jpg);
}

.calculate-free--four .custom-form__item {
  max-width: 100%;
}

.calculate-free--four .dude {
  width: 423px;
  right: 24%;
}

@media (max-width: 1220px) {
  .calculate-free--three .dude {
    right: -10% !important;
    width: 510px !important;
  }
}

@media (max-width: 1024px) {
  .calculate-free__wrapper {
    max-width: 608px;
  }
  .calculate-free {
    background-image: url(../img/calculate-free/1/bg-1024.jpg);
  }
  .calculate-free--two {
    background-image: url(../img/calculate-free/2/bg-1024.jpg);
  }
  .calculate-free--three {
    background-image: url(../img/calculate-free/3/bg-1024.jpg);
  }
  .calculate-free--three .dude {
    width: 584px;
    right: 10%;
  }
  .calculate-free--four {
    background-image: url(../img/calculate-free/4/bg-1024.jpg);
    padding: 90px 0 53px;
  }
  .calculate-free--four .dude {
    width: 410px;
    right: -16px !important;
  }
}

@media (max-width: 910px) {
  .calculate-free--three .dude {
    display: none;
  }
}

@media (max-width: 768px) {
  .calculate-free__wrapper {
    max-width: 480px;
  }
  .calculate-free {
    background-image: url(../img/calculate-free/1/bg-768.jpg);
    padding-bottom: 63px;
  }
  .calculate-free .dude {
    right: -14%;
  }
  .calculate-free--two {
    background-image: url(../img/calculate-free/2/bg-768.jpg);
    padding-bottom: 0;
  }
  .calculate-free--three {
    background-image: url(../img/calculate-free/3/bg-768.jpg);
  }
  .calculate-free--four {
    background-image: url(../img/calculate-free/4/bg-768.jpg);
  }
}

@media (max-width: 600px) {
  .calculate-free {
    background-color: #F6F6F7;
    background-image: none !important;
    padding-bottom: 48px;
    padding-top: 0;
    color: #1C213F;
    padding: 0;
  }
  .calculate-free::after {
    display: none;
  }
  .calculate-free .section__title {
    color: inherit;
  }
  .calculate-free .section__header {
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(28, 33, 63, 0.15);
    padding-bottom: 25px;
  }
  .calculate-free .benefits__item-flex:last-child {
    border-bottom: none;
  }
  .calculate-free .calculate-free--two .custom-form {
    margin-bottom: 40px;
  }
  .calculate-free__top-image {
    display: block;
    width: 100%;
    margin-bottom: 1px;
    -webkit-transform: translateY(-21px);
            transform: translateY(-21px);
  }
  .calculate-free__top-image img {
    display: block;
    width: 100%;
  }
  .calculate-free__wrapper {
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .calculate-free .section__header {
    margin-bottom: 0;
    padding-bottom: 30px !important;
  }
}

.faq {
  padding-top: 0;
  padding-bottom: 65px;
}

.footer {
  padding-top: 55px;
  padding-bottom: 44px;
}

.footer .whatsapp {
  color: #1C213F;
}

.footer .whatsapp img {
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.footer .telephone {
  color: #1C213F;
}

.footer .telephone img {
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.footer__left {
  width: calc(60% - 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__contact {
  max-width: calc(50% - 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer__contact:hover img,
.footer__contact:focus img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer__contact:hover img .whatsapp img,
.footer__contact:focus img .whatsapp img {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: none;
          transform: none;
}

.footer__title {
  margin: 0;
  width: 100%;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  max-width: 400px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  color: #777A8C;
  width: calc(40% - 16px);
}

.footer__cop {
  margin: 0;
}

.footer__developer {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #777A8C;
}

.footer__developer span {
  padding-right: 16px;
  color: #A6BF2A;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer__developer svg path {
  fill: #A6BF2A;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer__developer:hover span, .footer__developer:focus span {
  color: #00B2D2;
}

.footer__developer:hover svg path, .footer__developer:focus svg path {
  fill: #00B2D2;
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 55px;
    padding-bottom: 54px;
  }
  .footer__left {
    gap: 26px;
  }
  .footer__contact {
    gap: 16px;
    max-width: 215px;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 21px;
  }
  .footer__right,
  .footer__left {
    width: initial;
  }
  .footer__contact {
    max-width: 250px;
  }
  .footer__right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: initial;
    gap: 6px;
  }
}

@media (max-width: 550px) {
  .footer__left {
    gap: 24px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__contact {
    max-width: 100%;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  pointer-events: none;
}

.modal .section__title {
  color: #1C213F;
}

.modal .custom-form {
  padding: 0;
}

.modal .custom-form__item {
  max-width: 100%;
}

.modal .button--simple {
  margin-left: auto;
  background-color: #4680FE;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 80px 17px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .section__header--mod {
  margin-bottom: 30px;
  padding-bottom: 17px;
  border-bottom: 1px solid #DDDEE2;
}

.modal:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #00000061;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.modal__wrapper {
  background-color: #ffffff;
  color: #616374;
  z-index: 105;
  padding: 30px 40px 38px;
  -webkit-box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.15);
          box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.15);
  position: relative;
  max-width: 752px;
  margin: auto;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 24px 24px 24px 6px;
}

.modal__close-button {
  border: none;
  position: absolute;
  width: 64px;
  height: 64px;
  z-index: 99;
  cursor: pointer;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #A6BF2A;
  border-radius: 0px 6px 0px 0px;
  padding: 32px;
}

.modal__close-button:active {
  -webkit-transform: none;
          transform: none;
}

.modal__close-button:hover {
  background-color: #00B2D2;
}

.modal__close-button span {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #ffffff;
  z-index: 2;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  pointer-events: none;
}

.modal__close-button span::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: inherit;
  z-index: 2;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: block;
  pointer-events: none;
}

.modal--show {
  opacity: 1;
  pointer-events: initial;
}

.modal--show .modal__wrapper {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal--show:before {
  opacity: 1;
}

@media (max-width: 425px) {
  .modal__wrapper {
    padding: 25px 21px 34px;
    margin: 0 16px;
  }
  .modal .section__title {
    font-size: 24px;
  }
  .section__text {
    font-size: 16px;
  }
  .modal__close-button {
    width: 48px;
    height: 48px;
    padding: 24px;
  }
  .modal__close-button span::after,
  .modal__close-button span {
    width: 32px;
  }
}

@media (max-width: 425px) {
  .modal__wrapper {
    margin: 0;
  }
}

.menu-show .header__navigation {
  display: block;
  -webkit-box-ordinal-group: 101;
      -ms-flex-order: 100;
          order: 100;
  width: 100%;
  max-width: 100%;
}

.menu-show .header {
  background-color: #ffffff;
  color: #1C213F;
  padding-bottom: 47px;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 24px 24px;
}

.menu-show .logo .logo-text {
  fill: #1C213F;
}

.menu-show .button-menu span,
.menu-show .button-menu span::after,
.menu-show .button-menu span::before {
  background-color: #1C213F;
}

.menu-show .header .telephone {
  color: #1C213F;
}

.menu-show .header .whatsapp img {
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}
