.calculate-free {
  background-image: url(../img/calculate-free/1/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 66px 0 80px;
  z-index: 0;
  position: relative;


  .wrapper {
    position: relative;
    z-index: 33;
  }

  .custom-form__wrapper--mod {
    margin-top: 6px;
  }

}

.calculate-free__wrapper {
  max-width: 640px;
}

.calculate-free__top-image {
  display: none;
}

// модификация 2 
.calculate-free--two {
  padding: 66px 0 0;
  background-image: url(../img/calculate-free/2/bg.jpg);

  .section__text {
    color: inherit;
    opacity: 0.8;
  }

  .section__header {
    padding-bottom: 45px;
    margin-bottom: 36px;
  }

  .custom-form {
    margin-bottom: 77px;
  }

  .custom-form__item {
    max-width: 100%;
  }

}

// модификация 3 
.calculate-free--three {
  padding: 90px 0 86px;
  background-image: url(../img/calculate-free/3/bg.jpg);
  background-color: transparent;
  margin-top: -52px;

  .dude {
    width: 584px;
    right: 10%;
  }

}

// модификация 4 
.calculate-free--four {
  background-image: url(../img/calculate-free/4/bg.jpg);

  .custom-form__item {
    max-width: 100%;
  }

  .dude {
    width: 423px;
    right: 24%;
  }

}

@media (max-width: 1220px) {
  .calculate-free--three {
    .dude {
      right: -10% !important;
      width: 510px !important;

    }
  }
}

@media (max-width: 1024px) {
  .calculate-free__wrapper {
    max-width: 608px;
  }

  .calculate-free {
    background-image: url(../img/calculate-free/1/bg-1024.jpg);
  }

  .calculate-free--two {
    background-image: url(../img/calculate-free/2/bg-1024.jpg);
  }

  .calculate-free--three {
    background-image: url(../img/calculate-free/3/bg-1024.jpg);

    .dude {
      width: 584px;
      right: 10%;
    }
  }

  .calculate-free--four {
    background-image: url(../img/calculate-free/4/bg-1024.jpg);
    padding: 90px 0 53px;

    .dude {
      width: 410px;
      right: -16px !important;
    }

  }
}

@media (max-width: 768px) {
  .calculate-free__wrapper {
    max-width: 480px;
  }

  .calculate-free {
    background-image: url(../img/calculate-free/1/bg-768.jpg);
    padding-bottom: 63px;

    .dude {
      right: -14%;
    }
  }

  .calculate-free--two {
    background-image: url(../img/calculate-free/2/bg-768.jpg);
    padding-bottom: 0;
  }

  .calculate-free--three {
    background-image: url(../img/calculate-free/3/bg-768.jpg);
  }

  .calculate-free--four {
    background-image: url(../img/calculate-free/4/bg-768.jpg);
  }
}

@media (max-width: 600px) {
  .calculate-free {
    background-color: #F6F6F7;
    background-image: none !important;
    padding-bottom: 48px !important;
    padding-top: 0;

    &--two {
      padding-bottom: 0 !important;

      .custom-form {
        margin-bottom: 48px;
      }
    }

    color: #1C213F;
    padding: 0;

    &::after {
      display: none;
    }

    .section__title {
      color: inherit;
    }

    .section__header {
      margin-bottom: 25px;
      border-bottom: 1px solid rgba(28, 33, 63, 0.15);
      padding-bottom: 25px;
    }

    .benefits__item-flex:last-child {
      border-bottom: none;
    }

    .calculate-free--two .custom-form {
      margin-bottom: 40px;
    }
  }

  .calculate-free__top-image {
    display: block;
    width: 100%;
    margin-bottom: 1px;

    img {
      display: block;
      width: 100%;
    }
  }

  .calculate-free__wrapper {
    max-width: 100%;
  }


}


@media (max-width: 425px) {
  .calculate-free .section__header {
    margin-bottom: 0;
    padding-bottom: 30px !important;
  }
}