  // первый экран -----------------------------------------
  .hero {
    position: relative;
    z-index: 2;
    // padding-top: 140px;
    margin-top: auto;
  }

  .hero__felx {
    display: flex;
    flex-direction: column;
    gap: 46px;
    max-width: 510px;
    margin-bottom: 120px;
  }

  .hero__title {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 133%;
    color: #FFFFFF;

  }

  .hero__image {
    display: none;
  }

  @media (max-width: 360px) {
    .hero__image {
      display: block;
    }

  }