.our-services {}

.our-services__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 32px;
  align-items: stretch;
  flex-wrap: wrap;
}

.our-services__item {
  width: calc(25% - 24px);
  background: #FFFFFF;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  padding-bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  transition: all 0.5s ease;
}

.our-services__top {
  padding: 16px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.our-services__img {
  position: relative;
  margin-bottom: 16px;
}

.our-services img {
  display: block;
  width: 100%;
  border-radius: 16px 16px 16px 0px;
}

.our-services__name {
  font-size: 20px;
  line-height: 140%;
  margin: 0;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 6px;
}

.our-services__price {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #1C213F;
  margin-bottom: 6px;
  display: block;
  margin-top: auto;
}

.our-services__button {
  display: block;
  background: transparent;
  padding: 19px 0;
  // width: 100%;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #4680FE;
  text-decoration: none;
  border-top: 1px solid #DDDEE2;
  position: relative;
  z-index: 2;
  transition: all 0.2s ease;
  margin: 0 16px;

}

.our-services__item:hover {
  transform: scale(1.06);
  z-index: 11;
  position: relative;

  .our-services__button {
    background: #4680FE;
    color: #ffffff;
    border-color: transparent;
    margin: 0;

  }

}

@media (max-width: 1024px) {
  .our-services__list li {
    width: calc(33% - 20px);
  }

  .our-services__img {
    margin-bottom: 19px;
  }
}

@media (max-width: 700px) {
  .our-services__list li {
    width: calc(50% - 16px);
  }

}

@media (max-width: 600px) {
  .our-services__list li {
    width: 100%;
  }

}

@media (max-width: 425px) {
  .our-services {
    padding-top: 84px;
  }

  .our-services__img {
    margin-bottom: 10px;
  }

  .our-services__price {
    margin-bottom: 3px;
  }

  .our-services__list {
    gap: 8px;
  }
}