.our-works {
  padding: 0;
  .swiper {
    padding: 20px 0;
    max-width: max-content;
    margin: 0 auto;
  }

  .our-works__swiper .swiper-wrapper {
    align-items: stretch;
  }
  
}

@media (max-width: 425px) {
  .section__top {
    margin-bottom: 8px;
  }
}

