.when-repairs__list {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  li {
    width: calc(25% - 12px);
  }
}

.when-repairs__img {
  position: relative;
  margin-bottom: 16px;

  img {
    display: block;
    width: 100%;
    border-radius: 24px 24px 24px 6px;
  }
}

.when-repairs__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #A6BF2A;
  border-radius: 0px 6px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.when-repairs__name {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #1C213F;
  margin-bottom: 6px;
}
.when-repairs__text {
  margin: 0;
}

.when-repairs__img {
  &:hover {
    .when-repairs__icon {
      background-color: #00B2D2;
    }
  }
}


@media (max-width: 1024px) {
  .when-repairs__list ul {
    gap: 32px;
  }
  .when-repairs__list li {
    width: calc(50% - 16px);
}
}