.accordion {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.accordion-item {
  background: #ffffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  color: #1C213F;
  overflow: hidden;
}

.accordion__btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
  padding: 25px 36px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.accordion-title {
  margin: 0;
  font-family: var(--ff-2);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #1C213F;
}

.accordion__content {
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777A8C;
  margin: 0 auto;
  height: 0;
  overflow: hidden;
  padding: 0 112px;
  transition: max-height 3s;

  p {
    margin-top: 0;
  }
}

.button-plus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  // padding: 16px 40px;
  z-index: 2;
  pointer-events: none;
  transition: 0.3s;

  &::before {
    display: block;
    position: absolute;
    content: "";
    top: initial;
    // left: 25px;
    transition: .3s;
    width: 40px;
    height: 4px;
    background-color: #A6BF2A;
  }

  &::after {
    display: block;
    position: absolute;
    content: "";
    top: initial;
    // left: 25px;
    transition: .3s;
    width: 40px;
    height: 4px;
    background-color: #A6BF2A;
    transform: rotate(90deg);
  }
}

@media (max-width: 1024px) {
  .accordion__btn {
    padding: 23px 30px;
  }

  .accordion__content {
    padding: 0 84px;

  }

  .button-plus::before,
  .button-plus::after {
    width: 32px;
  }
}

@media (max-width: 768px) {
  .accordion__content {
    padding: 0 64px;

  }
}

@media (max-width: 425px) {
  .accordion__btn {
    padding: 20px 24px;
  }

  .accordion-title {
    font-size: 18px;
    text-align: initial;
  }

  .accordion__content {
    padding: 0 24px;

  }

  .button-plus {

    &::after,
    &::before {
      width: 32px;
    }
  }
}

@media (max-width: 345px) {
  .accordion-title {
    font-size: 16px;
  }
}

.accordion-item.active {

  .accordion__content {
    padding-top: 22px;
    padding-bottom: 22px;
    height: auto;
    transition: max-height 1.5s;

  }

  .button-plus::after {
    transform: rotate(0);
  }

  .accordion__btn {

    &::after {
      content: "";
      display: block;
      width: calc(100% - 64px);
      height: 1px;
      margin: 0 auto;
      background-color: #DDDEE2;
      position: absolute;
      bottom: 0;
    }

    &:hover {
      background-color: #EDF2D4;

      &::after {
        opacity: 0;
        height: 0;
        transition: all 0.3s ease;
      }
    }
  }

}