.always-ready {
  display: flex;
  align-items: center;
  gap: 16px 30px;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 64px;
  border-bottom: 1px solid #DDDEE2;

}

.always-ready__title {
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #1C213F;
  margin: 0;
}

@media (max-width: 1024px) {
  .always-ready__title {
    max-width: 350px;
    text-align: right;
  }
}

@media (max-width: 768px) {
  .always-ready__title {
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .always-ready__title {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .always-ready__title {
    max-width: 350px;
    text-align: initial;
  }

  .always-ready {
    padding-bottom: 48px;
  }
}