// преимущества 
.benefits {
  border-top: 1px solid rgba(255, 255, 255, 0.4);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

}

.benefits__item-flex {
  max-width: calc(100% / 3);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding: 42px 32px 43px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-right: none;
  }

  svg {
    max-width: 56px;
    width: 100%;
  }
}

.benefits__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
  max-width: calc(100% - 56px - 32px);
}


@media (max-width: 1024px) {
  .benefits__item-flex {
    gap: 16px;
    padding: 20px 24px;
  }

  .benefits__text {
    font-size: 16px;
    max-width: calc(100% - 56px - 16px);
  }

}

@media (max-width: 710px) {
  .benefits__text {
    font-size: 14px;
  }

  .benefits__item-flex {
    gap: 10px;
    padding: 20px 14px;
  }
}

@media (max-width: 600px) {
  .benefits__text {
    font-size: 16px;
    color: #1C213F;
  }

  .benefits__item-flex {
    max-width: 100%;
    gap: 24px;
    border-top: 1px solid #DDDEE2;

    &:last-child {
      border-bottom: 1px solid #DDDEE2;
    }
  }

  .benefits__item-flex svg path {
    stroke: #4680FE;
  }

}