// кнопка 
.button {
  padding: 0;
  display: flex;
  gap: 0;
  border: none;
  border-radius: 6px;
  max-width: max-content;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  transition: all 0.5s ease;
  overflow: hidden;
  align-items: stretch;

}

.button__text {
  color: #ffffff;
  background-color: #4680FE;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 19px 11px 20px 24px;
  padding-right: 20px + 56px;
  box-shadow: 0 -4px #00000029 inset;
  transition: all 0.5s ease;

}

.button__icon {
  background: #A6BF2A;
  position: absolute;
  right: 0;
  pointer-events: none;
  display: flex;
  height: 100%;
  width: 56px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px #00000029 inset;
  border-radius: 0px 6px 6px 0px;
}

.button {

  &:hover {
    .button__text {
      background-color: #00B2D2;
    }
  }

  &:active {
    transform: translateY(4px);

    .button__text {
      box-shadow: 0 0 transparent;
      background-color: #4680FE;
    }

    .button__icon {
      box-shadow: 0 0 transparent;
    }
  }

}

.button--simple {
  background: #00B2D2;
  border-radius: 6px;
  color: #ffffff;
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 16px 17px;
  box-shadow: 0 -4px #00000029 inset;
  transition: all 0.5s ease;

  &:active {
    background-color: #A6BF2A;
    box-shadow: none;
  }
}

@media (max-width: 425px) {
  .button__text {
    padding: 16px 17px 14px 17px;
  }
  .button__icon {
    width: 47px;
  }

  .button--simple {
    padding: 15px 16px 14px;
  }

  .button__text {
    text-align: initial !important;
  }
  
}