.buttons-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

@media (max-width: 550px) {
  .buttons-list {
    max-width: 100%;
    width: 100%;

    .button {
      width: 100%;
      max-width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      .button__text {
        width: 100%;
        text-align: center;
      }
    }
  }
}