// обёртка  -----------------------------------------
.wrapper {
  max-width: 1376px;
  margin: 0 auto;
  padding: 0 32px;

  @media (max-width: 1024px) {
    max-width: 1024px;
    padding: 0 48px;
  }

  @media (max-width: 768px) {
    max-width: 768px;
    padding: 0 16px;
  }

  @media (max-width: 360px) {
    max-width: 360px;
    padding: 0 16px;
  }
}