/* базовые стили  */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
  margin: 0;
  min-width: 320px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #856E7E;
}

img {
  height: auto;
  max-width: 100%;
}

a,
button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}